<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./layout %>
  </head>
  <body>

      <% include ./header %>

    <h1><%= title %></h1>
    <p>Your space has been booked!</p>

  </body>
</html>
