<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action='/spaces' method='post'>
				<label for='address'> Please enter your address:
					<input type='text' name='address'>
					<input type='submit' value='Enter'>
				</label>
			</form>
  </body>
</html>
