<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./layout %>
  </head>
  <body>
    <% include ./header %><br>
    <%= title %>
    <form action='/signin' method='post'>
				<label for='signin'> Sign in:
					<input type='text' name='username'><br>
          <input type='radio' name='status' value='Owner'>Owner<br>
          <input type='radio' name='status' value='Guest'>Guest<br>
					<button type=submit>Sign In</button>
				</label><br>
			</form>
    <form action='/users/new' method='get'>
      <button type=submit>Sign Up</button>
    </form>

  </body>
</html>
