<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>
    <form method="get" action="/confirm">
		<ul><% addresses.forEach(function(address) { %>
			<li> <%= address %>
       <button type=submit>Choose</button>
			<% }) %>
		</ul>

    </form>
  </body>
</html>
