<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>
		<ul><% addresses.forEach(function(address) { %>
			<li> <%= address %> </li>
			<% }) %>
		</ul>
    <form method="get" action="/confirm">
    <button type=submit>Request</button>
    </form>
  </body>
</html>
