<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../layout %>
  </head>
  <body>

    <% include ../header %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action='/spaces' method='post'>
				<label for='address'> Please enter the space you want to list:
					<input type='text' name='name' placeholder='Name'>
					<input type='text' name='address' placeholder='Address'>
					<input type='number' min='1' name='price' placeholder='Price'>
					<input type='text' name='description' placeholder='Description'>
          <input type='text' name='image' placeholder='Image URL'>
					<button type=submit id='newspace'>Enter</button>
				</label>
			</form>
  </body>
</html>
