<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <%= title %>
    <form action='/signup' method='post'>
				<label for='signup'> Please create a username:
					<input type='text' name='username'>
          Password: <input type='text' name='password'>
					<button type=submit>Sign Up</button>
				</label>
			</form>
  </body>
</html>
